<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: {% for data in subred_list %} {{data}} {% endfor %}</h3>
  </header>
  <main>
    {% for articles in article_list %}
      <div>
        <h3>
          <a href="{{articles['link']}}" target="_blank">{{articles['title']}}</a>
        </h3>
        <h4>{{articles['vote']}} upvotes · {{articles['subject']}}</h4>
        <hr>
      </div>
    {% endfor %}
  </main>
</body>

</html>